@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* reset */
* {
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/* variables */
/* base */
* {
  font-family: "Roboto";
}

body {
  background: url("../images/bg.png") no-repeat;
  background-size: 100%;
  background-size: cover;
  overflow-x: hidden;
}

html,
body,
main,
section {
  height: 100%;
}

@media (max-width: 992px) {
  html,
  body,
  main,
  section {
    height: 100%;
  }
}
/* section-first */
.screen {
  max-width: 1920px;
}
.screen__bg {
  display: flex;
  flex-direction: row;
  gap: 103px;
  height: 100%;
}
.screen__item {
  max-width: 1090px;
}
@media (max-width: 992px) {
  .screen__bg {
    gap: 32px;
  }
}
@media (max-width: 540px) {
  .screen__bg {
    flex-direction: column;
    text-align: center;
  }
}

.description {
  padding-left: 142px;
  min-width: 1080px;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 992px) {
  .screen {
    max-width: 564px;
  }
  .description {
    padding-left: 32px;
    min-width: 564px;
    max-width: 564px;
  }
}
@media (max-width: 540px) {
  .screen {
    max-width: 540px;
    margin: 0;
  }
  .description {
    padding-left: 0;
    min-width: 0;
    max-width: 540px;
    padding: 0 32px;
    text-align: center;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}
.logo {
  margin: 114px 0 64px -21px;
  width: 100%;
  right: 50px;
  max-width: 1089.99976px;
  max-height: 120.99996px;
}

@media (max-width: 992px) {
  .logo {
    margin: 44px 0 24px -21px;
    max-width: 539px;
    max-height: 59px;
  }
}
@media (max-width: 540px) {
  .logo {
    margin: 48px 0 32px 0px;
    max-width: 476px;
    max-height: 52px;
  }
}
.title {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
}

@media (max-width: 540px) {
  .title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
  }
}
@media (max-width: 992px) {
  .title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
  }
}
.about {
  margin-bottom: 57px;
}
.about__description {
  text-indent: 20px;
  color: #FFF;
  text-align: justify;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}
@media (max-width: 992px) {
  .about__description {
    color: #FFF;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}
@media (max-width: 540px) {
  .about__description {
    color: #FFF;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}

.about .title {
  margin-bottom: 26px;
}

@media (max-width: 992px) {
  .about {
    margin-bottom: 24px;
  }
  .about .title {
    margin-bottom: 12px;
  }
}
@media (max-width: 540px) {
  .about {
    margin-bottom: 32px;
  }
}
.products {
  margin-bottom: 64px;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
.product__item {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.8px;
  display: inline-flex;
  height: 48px;
  padding: 4px 24px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 2px solid #FFF;
  box-sizing: border-box;
}
.product__item:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 540px) {
  .product {
    justify-content: center;
  }
}
.active {
  color: #131510;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.8px;
  border: 4px solid #6AECF8;
  background: #4FB5C0;
}

.products .title {
  margin-bottom: 26px;
}

@media (max-width: 992px) {
  .products {
    margin-bottom: 20px;
  }
  .products .title {
    margin-bottom: 12px;
  }
}
@media (max-width: 540px) {
  .products {
    margin-bottom: 32px;
  }
}
.feedback {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.8px;
}

.form > * {
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.form {
  display: grid;
  grid-template-areas: "phone email" "msg msg" "send send";
  gap: 12px;
  max-width: 596px;
}
.form__phone {
  grid-area: phone;
  width: 292px;
  height: 48px;
}
.form__email {
  grid-area: email;
  width: 292px;
  height: 48px;
}
.form__msg {
  grid-area: msg;
  width: 596px;
  height: 108px;
  box-sizing: border-box;
  padding: 28px 13px;
}
.form__send {
  grid-area: send;
  width: 200px;
  height: 48px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1.8px;
  border: 2px solid #FFF;
  background-color: rgba(255, 255, 255, 0);
}
.form__send:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 992px) {
  .form__phone {
    height: 40px;
    width: 276px;
    box-sizing: border-box;
  }
  .form__email {
    height: 40px;
    width: 276px;
    box-sizing: border-box;
  }
  .form__msg {
    height: 68px;
    padding: 10px 13px;
    width: 442px;
    box-sizing: border-box;
  }
  .form__send {
    width: 110px;
    height: 68px;
    box-sizing: border-box;
  }
}

@media (max-width: 992px) {
  .form {
    grid-template-areas: "phone phone email email" "msg msg msg send";
  }
}
@media (max-width: 540px) {
  .form {
    grid-template-areas: "phone" "email" "msg" "send";
  }
  .form__phone, .form__email, .form__msg {
    width: 100%;
  }
  .form__send {
    margin: 0 auto;
    width: 184px;
    height: 48px;
  }
}
.feedback .title {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .feedback .title {
    margin-bottom: 12px;
  }
}
.man {
  position: absolute;
  bottom: 0;
  min-width: 356px;
  max-width: 532px;
}

@media (max-width: 992px) {
  .man {
    width: 356px;
  }
}
.container-man {
  min-width: 532px;
}

@media (max-width: 540px) {
  .container-man {
    display: flex;
    justify-content: center;
  }
  .man {
    width: 390px;
  }
}/*# sourceMappingURL=styles.css.map */