/* base */

* {
  font-family: 'Roboto';
}

body {
  background: url("../images/bg.png") no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: cover;
  overflow-x: hidden;
}

html,
body,
main,
section {
  height: 100%;
}

@media (max-width: $middle-width) {

  html,
  body,
  main,
  section {
    height: 100%;
  }
}