/* common */
* {
  margin: 0;
  padding: 0;
}

/* navigation */
.header {
  justify-content: center;
  height: 140px;
  box-sizing: border-box;
  padding: 30px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
}

.header__logo {
  width: 182px;
  height: 100px;
  background-image: url("../images/logo.png");
}

.header__nav {
  display: flex;
  list-style-type: none;
}

.header__nav > li {
  padding: 11px 32px;
  white-space: nowrap;
}

/* section */
.body-build {
  position: absolute;
  width: 100%;
}

/* background text */
.body-build__call-to-action {
  color: #CFCFCD;
  font-family: Arial;
  font-size: 160px;
  font-style: normal;
  font-weight: 900;
  line-height: 160px;
  letter-spacing: 8px;
  position: absolute;
  margin-left: 50%;
  left: -20%;
  top: 115px;
  max-width: 1100px;
  z-index: 0;
}

/* man and description */
.body-build__box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-height: 836px;
}

.body-build__man {
  width: 990px;
  height: 956px;
  background-image: url("../images/man.png");
  position: relative;
  top: -120px;
  min-width: 990px;
}

.body-build__texts {
  z-index: 2;
  padding-right: 80px;
  margin-top: 362px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.body-build__description {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.body-build__read-more {
  display: flex;
  height: 45px;
  padding: 11px 32px;
  color: #292929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}